#details {
  width: 80%;
  margin: auto;
  height: 40vh;
  margin-top: 10%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;

  .name-details {
    display: grid;
    place-items: center;

    #pre-title {
      margin: 0;
      font-size: 1.2rem;
      font-family: 'Montserrat', sans-serif;
    }
    #name {
      margin: 0;
      font-size: 3.5rem;
      font-family: 'Poppins', sans-serif;
    }
    #post-title {
      font-family: 'Montserrat', sans-serif;
    }

    #resume-btn {
      background-color: #4db5ff;
      color: white;
      font-family: 'Poppins', sans-serif;
      border-radius: 25px;
      margin-top: 50px;
      &:hover {
        background-color: #242424;
        color: #4db5ff;
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }
}

@media (max-width: 1536px) {
  #details {
    width: 1280px;
  }
}

@media (max-width: 1280px) {
  #details {
    width: 1024px;
  }
}

@media (max-width: 1024px) {
  #details {
    width: 768px;
  }
}

@media (max-width: 850px) {
  #details {
    max-width: 640px;
  }
}

@media (max-width: 710px) {
  #details {
    max-width: 600px;
  }
}

@media (max-width: 680px) {
  #details {
    max-width: 560px;
  }
}

@media (max-width: 640px) {
  #details {
    max-width: 475px;
  }
}

@media (max-width: 550px) {
  #details {
    max-width: 400px;
  }
}

@media (max-width: 475px) {
  #details {
    width: 100%;
  }
}
